# Problem Statements

## Question 1
In this scenario, two friends are eating dinner at a restaurant. The bill comes in the amount of 47.28 dollars. The friends decide to split the bill evenly between them, after adding 15% tip for the service. Calculate the tip, the total amount to pay, and each friend's share, then output a message saying "Each person needs to pay: " followed by the resulting number.

In [1]:
bill = ___
tip = bill * ___
total = bill + ___
share = ___ 
print("")

TypeError: can't multiply sequence by non-int of type 'str'

## Question 2
This code is supposed to take two numbers, divide one by another so that the result is equal to 1, and display the result on the screen. Unfortunately, there is an error in the code. Find the error and fix it, so that the output is correct.

In [42]:
numerator = 10
denominator = 40
result = numerator / denominator
print(result)

0.25

## Question 3
Combine the variables to display the sentence "How do you like Python so far?"

In [3]:
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"

print(___)

How do you like Python so far?

In [41]:
word1 = "How"
word2 = "do"
word3 = "you"
word4 = "like"
word5 = "Python"
word6 = "so"
word7 = "far?"
print(str(word1) + " " + str(word2) + " " + str(word3) + " " + str(word4) + " " + str(word5) + " " + str(word6) + " " + str(word7))

How do you like Python so far?

## Question 4
This code is supposed to display "2 + 2 = 4" on the screen, but there is an error. Find the error in the code and fix it, so that the output is correct.

In [1]:
print("2 + 2 = " + (2 + 2))

TypeError: can only concatenate str (not "int") to str

In [3]:
print("2 + 2 = " +str (2 + 2))

2 + 2 = 4

## List & String

## Question 1
Write a program that extracts the last three items in the list sports and assigns it to the variable last. Make sure to write your code so that it works no matter how many items are in the list.

In [2]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
last = sports[-3:]
print(last)

['curling', 'ping pong', 'hockey']

In [ ]:
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
last = 
print(last)

## Question 2
Write one for loop to print out each character of the string my_str on a separate line.

In [ ]:
my_str = "MICHIGAN"
# Write your code here

In [6]:
a = "MICHIGAN"
for char in  a:
    print(char)

M
I
C
H
I
G
A
N

## Question 3
Write one for loop to print out each element of the list several_things. Then, write another for loop to print out the TYPE of each element of the list several_things. To complete this problem you should have written two different for loops, each of which iterates over the list several_things, but each of those 2 for loops should have a different result.

In [12]:
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]
# Write your code here
for typ in several_things:
    # Write your code here

hello
2
4
6.0
7.5
234352354
the end

99
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]
# Write your code here
for typ in several_things:
    # Write your code here

In [36]:
several_things = ["hello", 2, 4, 6.0, 7.5, 234352354, "the end", "", 99]

for typ in range(len(several_things)):
    print(several_things[typ])
    
for j in range(len(several_things)):
    print(type(several_things[j]))

hello
2
4
6.0
7.5
234352354
the end

99
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'int'>

## Question 4
Write code that uses iteration to print out the length of each element of the list stored in str_list.

In [13]:
str_list = ["hello", "", "goodbye", "wonderful", "I love Python"]

for leng in str_list:
    print(# Write your code here.)

5
0
7
9
13

In [8]:
str_list = ["hello", "", "goodbye", "wonderful", "I love Python"]

for leng in str_list:
    print(len(leng))

5
0
7
9
13

## Question 5
Write code to count the number of characters in original_str using the accumulation pattern and assign the answer to a variable num_chars. Do NOT use the len function to solve the problem (if you use it while you are working on this problem, comment it out afterward!)

In [1]:
original_str = "The quick brown rhino jumped over the extremely lazy fox."
num_chars = 0
#Counts each character except space.
for i in original_str:
    # Write your code here.
#Displays the total number of characters present in the given string.
print("Total number of characters in a string: " + str(num_chars))

Total number of characters in a string: 57

In [22]:
original_string = "The quick brown rhino jumped over the extremely lazy fox.";  
count = 0;  
   
for i in range(0, len(string)):  
    if(original_string[i] ):  
        count = count + 1;  
   
 # Displays the total number of characters present in the given string  
print("Total number of characters in a original_string: " + str(count));

Total number of characters in a original_string: 57

## Question 6
addition_str is a string with a list of numbers separated by the + sign. Write code that uses the accumulation pattern to take the sum of all of the numbers and assigns it to sum_val (an integer). (You should use the .split("+") function to split by "+" and int() to cast to an integer).

In [15]:
addition_str = "2+5+10+20"
number = # Write your code here.
sum_val = 0
for num in number:
    # Write your code here. 
    
print(sum_val)

37

In [20]:
addition_str = "2+5+10+20"
su = addition_str.split('+')

sum_val = 0
for i in su:
    sum_val = sum_val + int(i)

print(sum_val)

37

## Question 7
week_temps_f is a string with a list of fahrenheit temperatures separated by the , sign. Write code that uses the accumulation pattern to compute the average (sum divided by number of items) and assigns it to avg_temp. Do not hard code your answer (i.e., make your code compute both the sum or the number of items in week_temps_f) (You should use the .split(",") function to split by "," and float() to cast to a float).

In [4]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
temp = week_temps_f.split(",")
print(temp)
count = 0
num = 0

for tem in temp:
    count=count + 1
    num=num + float(tem)
   
avg_temp = num / count
avg_temp

['75.1', '77.7', '83.2', '82.5', '81.0', '79.5', '85.7']

80.67142857142858

In [ ]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"
temp = week_temps_f.split(",")
print(temp)
count = 0
num = 0
for tem in temp:
    # Write your code here.
avg_temp = num / count
avg_temp

## Question 8
Write code to create a list of numbers from 0 to 67 and assign that list to the variable nums. Do not hard code the list.

In [20]:
nums = []
# Write your code here.

In [31]:
nums = list(range(0, 68))
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67]

## Question 9
Write code to create a list of word lengths for the words in original_str using the accumulation pattern and assign the answer to a variable num_words_list. (You should use the len function).

In [21]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"
lis = original_str.split()
num_words_list = []
for i in lis:
    # Write your code here.
print(num_words_list)

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

## Question 10
Create an empty string and assign it to the variable lett. Then using range, write code such that when your code is run, lett has 7 b’s ("bbbbbbb").

In [22]:
lett=""

# Write your code here.

print(lett)

bbbbbbb

In [34]:
lett = ''
for i in range(7):
    lett += 'b'
print(lett)

bbbbbbb

## Dictionary

## Question 1
At the halfway point during the Rio Olympics, the United States had 70 medals, Great Britain had 38 medals, China had 45 medals, Russia had 30 medals, and Germany had 17 medals. Create a dictionary assigned to the variable medal_count with the country names as the keys and the number of medals the country had as each key’s value.

In [23]:
medal_count = # Write your code here.

## Question 2
Given the dictionary swimmers, add an additional key-value pair to the dictionary with "Phelps" as the key and the integer 23 as the value. Do not rewrite the entire dictionary.

In [24]:
swimmers = {'Manuel':4, 'Lochte':12, 'Adrian':7, 'Ledecky':5, 'Dirado':4}
# Write your code here.

## Question 3
Add the string “hockey” as a key to the dictionary sports_periods and assign it the value of 3. Do not rewrite the entire dictionary.

In [25]:
sports_periods = {'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2}
# Write your code here.

## Question 4
The dictionary golds contains information about how many gold medals each country won in the 2016 Olympics. But today, Spain won 2 more gold medals. Update golds to reflect this information.

In [26]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}
# Write your code here.

## Question 5
Provided is a dictionary called US_medals which has the first 70 metals that the United States has won in 2016, and in which category they have won it in. Using dictionary mechanics, assign the value of the key "Fencing" to a variable fencing_value. Remember, do not hard code this.

In [27]:
US_medals = {"Swimming": 33, "Gymnastics": 6, "Track & Field": 6, "Tennis": 3, "Judo": 2, "Rowing": 2, "Shooting": 3, "Cycling - Road": 1, "Fencing": 4, "Diving": 2, "Archery": 2, "Cycling - Track": 1, "Equestrian": 2, "Golf": 1, "Weightlifting": 1}
# Write your code here.

## Question 6
The dictionary Junior shows a schedule for a junior year semester. The key is the course name and the value is the number of credits. Find the total number of credits taken this semester and assign it to the variable credits. Do not hardcode this – use dictionary accumulation!

In [28]:
Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}
credits = 0

# Write your code here.

## Question 7
Create a dictionary, freq, that displays each character in string str1 as the key and its frequency as the value.

In [29]:
str1 = "peter piper picked a peck of pickled peppers"
freq = {}

for k in str1:
    # Write your code here.

## Question 8
Create a dictionary, freq_words, that contains each word in string str1 as the key and its frequency as the value.

In [30]:
str1 = "I wish I wish with all my heart to fly with dragons in a land apart"
str1 = str1.split()

freq_words = {}

for k in str1:
    # Write your code here.

## Question 9
Create the dictionary characters that shows each character from the string sally and its frequency. Then, find the most frequent letter based on the dictionary. Assign this letter to the variable best_char.

In [2]:
sally = "sally sells sea shells by the sea shore"
characters = {}
for k in sally:
    if k not in characters:
        characters[k] = 0
    characters[k] += 1

ks = characters.keys()
best_char = list(ks)[0]  # Have to turn ks into a real list before using [] to select an item
for k in ks:
    if characters[k] > characters[best_char]:
        # Write your code here.
print(best_char)
print(characters)

s
{'s': 8, 'a': 3, 'l': 6, 'y': 2, ' ': 7, 'e': 6, 'h': 3, 'b': 1, 't': 1, 'o': 1, 'r': 1}

## Question 10
Create a dictionary called low_d that keeps track of all the characters in the string p and notes how many times each character was seen. Make sure that there are no repeats of characters as keys, such that “T” and “t” are both seen as a “t” for example.

In [31]:
p = "Summer is a great time to go outside. You have to be careful of the sun though because of the heat."

low_d = {}

for k in # Write your code here.: 
    # Write your code here.

## Tuple

## Question 1
The list below, tuples_lst, is a list of tuples. Create a list of the second elements of each tuple and assign this list to the variable country.

In [5]:
tuples_lst = [('Beijing', 'China', 2008), ('London', 'England', 2012), ('Rio', 'Brazil', 2016, 'Current'), ('Tokyo', 'Japan', 2020, 'Future')]
country = []
# Write your code here.
print(country)

['China', 'England', 'Brazil', 'Japan']

## Question 2
With only one line of code, assign the variables city, country, and year to the values of the tuple olymp.

In [32]:
olymp = ('Rio', 'Brazil', 2016)
# Write your code here.

## Question 3
Given is the dictionary, gold, which shows the country and the number of gold medals they have earned so far in the 2016 Olympics. Create a list, num_medals, that contains only the number of medals for each country. You must use the .items() method. Note: The .items() method provides a list of tuples. Do not use .keys() method.

In [34]:
gold = {'USA':31, 'Great Britain':19, 'China':19, 'Germany':13, 'Russia':12, 'Japan':10, 'France':8, 'Italy':8}
num_medals = []
# Write your code here.

# Functions

## Question 1
Flesh out the body of the print_seconds function so that it prints the total amount of seconds given the hours, minutes, and seconds function parameters. Remember that there are 3600 seconds in an hour and 60 seconds in a minute.

In [5]:
def print_seconds(hours, minutes, seconds):
    # write your code here.
    print(___)

print_seconds(1,2,3)

3723

In [1]:
def print_seconds(hours, minutes, seconds):
    # write your code here.
    second = hours*3600+minutes*60+seconds*1
    print(second)

print_seconds(1,2,3)

3723

## Question 2
Use the get_seconds function to work out the amount of seconds in 2 hours and 30 minutes, then add this number to the amount of seconds in 45 minutes and 15 seconds. Then print the result.

In [6]:
def get_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

amount_a = get_seconds(___)
amount_b = get_seconds(___)
result = ___
print(result)

11715

In [2]:
def get_seconds(hours, minutes, seconds):
    return 3600*hours + 60*minutes + seconds

amount_a = get_seconds(2,30,0)
amount_b = get_seconds(0,45,15)
result = amount_a+amount_b
print(result)

11715

## Question 3
In this code, identify the repeated pattern and replace it with a function called month_days, that receives the name of the month and the number of days in that month as parameters. Adapt the rest of the code so that the result is the same. Confirm your results by making a function call with the correct parameters for both months listed.

In [7]:
# REPLACE THIS STARTER CODE WITH YOUR FUNCTION
june_days = 30
print("June has " + str(june_days) + " days.")
july_days = 31
print("July has " + str(july_days) + " days.")

June has 30 days.
July has 31 days.

In [7]:
# REPLACE THIS STARTER CODE WITH YOUR FUNCTION
def month_days(month, days):
    print(month+ ' has '+str(days)+ " days.")
    
month_days('june', 31)
month_days('july', 30)

june has 31 days.
july has 30 days.

In [8]:
# REPLACE THIS STARTER CODE WITH YOUR FUNCTION
def month_days(month, days):
    result = f"{month} has {days} days."
    return (result)
june_days = 30
print("June has " + str(june_days) + " days.")
july_days = 31
print("July has " + str(july_days) + " days.")

June has 30 days.
July has 31 days.

## Question 4
This function to calculate the area of a rectangle is not very readable. Can you refactor it, and then call the function to calculate the area with base of 5 and height of 6?
Tip: a function that calculates the area of a rectangle should probably be called rectangle_area, and if it's receiving base and height, that's what the parameters should be called.

In [9]:
def f1(x, y):
    z = x*y  # the area is base*height
    print("The area is " + str(z))

The area is 30

In [7]:
def f1(x, y):
    z = x*y  # the area is base*height
    print("The area is " + str(z))

In [8]:
f1(5,6)

The area is 30

## Question 5
This function converts miles to kilometers (km).

Complete the function to return the result of the conversion
Call the function to convert the trip distance from miles to kilometers
Fill in the blank to print the result of the conversion
Calculate the round-trip in kilometers by doubling the result, and fill in the blank to print the re

In [10]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = ___

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + ___)

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + ___)

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [17]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
    km = miles * 1.6  # approximately 1.6 km in 1 mile
    return km
my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles )

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " + str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
print("The round-trip in kilometers is " + str(my_trip_km*2))

The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

## Question 6
This function compares two numbers and returns them in increasing order.

Fill in the blanks, so the print statement displays the result of the function call in order.
Hint: if a function returns multiple values, don't forget to store these values in multiple variables

In [11]:
# This function compares two numbers and returns them
# in increasing order.
def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1

# 1) Fill in the blanks so the print statement displays the result
#    of the function call
___, ___ = order_numbers(100, 99)
print(smaller, bigger)

99 100

In [43]:
def order_numbers(number1, number2):
    if number2 > number1:
        return number1, number2
    else:
        return number2, number1


(smaller, bigger) = order_numbers(100, 99)
print(smaller, bigger)

99 100