# Lists and Strings

Introduction: Sequences
In the real world most of the data we care about doesn’t exist on its own. Usually data is in the form of some kind of collection or sequence. For example, a grocery list helps us keep track of the individual food items we need to buy, and our todo list organizes the things we need to do each day. Notice that both the grocery list and the todo list are not even concerned with numbers as much as they are concerned with words. This is true of much of our daily life, and so Python provides us with many features to work with lists of all kinds of objects (numbers, words, etc.) as well as special kind of sequence, the character string, which you can think of as a sequence of individual letters.

So far we have seen built-in types like: int, float, and str. int and float are considered to be simple or primitive or atomic data types because their values are not composed of any smaller parts. They cannot be broken down.

On the other hand, strings and lists are different from the others because they are made up of smaller pieces. In the case of strings, they are made up of smaller strings each containing one character.

Types that are comprised of smaller pieces are called collection data types. Depending on what we are doing, we may want to treat a collection data type as a single entity (the whole), or we may want to access its parts. This ambiguity is useful.

In this chapter we will examine operations that can be performed on sequences, such as picking out individual elements or subsequences (called slices) or computing their length. In addition, we’ll examine some special functions that are defined only for strings, and we’ll find out one importance difference between strings and lists, that lists can be changed (or mutated) while strings are immutable.

6.1.1. Learning Goals
To understand different operations that can be performed on strings, lists, and tuples

To distinguish between different uses of [] in Python

6.1.2. Objectives
Predict the output of split and join operations

Read and write expressions that use slices

Read and write expressions that use concatenation and repetition

## Strings and Lists
Throughout the first chapters of this book we have used strings to represent words or phrases that we wanted to print out. Our definition was simple: a string is simply some characters inside quotes. In this chapter we explore strings in much more detail.

Additionally, we explore lists, which are very much like strings but can hold different types.

## Strings

Strings can be defined as sequential collections of characters. This means that the individual characters that make up a string are in a particular order from left to right.

A string that contains no characters, often referred to as the empty string, is still considered to be a string. It is simply a sequence of zero characters and is represented by ‘’ or “” (two single or two double quotes with nothing in between).

## Lists

A list is a sequential collection of Python data values, where each value is identified by an index. The values that make up a list are called its elements. Lists are similar to strings, which are ordered collections of characters, except that the elements of a list can have any type and for any one list, the items can be of different types.

There are several ways to create a new list. The simplest is to enclose the elements in square brackets ( [ and ]).

[10, 20, 30, 40]
["spam", "bungee", "swallow"]
The first example is a list of four integers. The second is a list of three strings. As we said above, the elements of a list don’t have to be the same type. The following list contains a string, a float, an integer, and another list.

["hello", 2.0, 5, [10, 20]]
Note

WP: Don’t Mix Types!

You’ll likely see us do this in the textbook to give you odd combinations, but when you create lists you should generally not mix types together. A list of just strings or just integers or just floats is generally easier to deal with.

## Tuples
A tuple, like a list, is a sequence of items of any type. The printed representation of a tuple is a comma-separated sequence of values, enclosed in parentheses. In other words, the representation is just like lists, except with parentheses () instead of square brackets [].

One way to create a tuple is to write an expression, enclosed in parentheses, that consists of multiple other expressions, separated by commas.

julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
The key difference between lists and tuples is that a tuple is immutable, meaning that its contents can’t be changed after the tuple is created. We will examine the mutability of lists in detail in the chapter on Mutability.

To create a tuple with a single element (but you’re probably not likely to do that too often), we have to include the final comma, because without the final comma, Python treats the (5) below as an integer in parentheses:

In [1]:
t = (5,)
print(type(t))

x = (5)
print(type(x))

<class 'tuple'>
<class 'int'>

## Index Operator: Working with the Characters of a String
The indexing operator (Python uses square brackets to enclose the index) selects a single character from a string. The characters are accessed by their position or index value.

In [2]:
student = 'ranjit'
student[-2]

'i'

In [3]:
school = "Luther College"
m = school[2]
print(m)

lastchar = school[-1]
print(lastchar)

t
e

The expression school[2] selects the character at index 2 from school, and creates a new string containing just this one character. The variable m refers to the result.

The letter at index zero of "Luther College" is L. So at position [2] we have the letter t.

If you want the zero-eth letter of a string, you just put 0, or any expression with the value 0, in the brackets. Give it a try.

The expression in brackets is called an index. An index specifies a member of an ordered collection. In this case the collection of characters in the string. The index indicates which character you want. It can be any integer expression so long as it evaluates to a valid index value.

Note that indexing returns a string — Python has no special type for a single character. It is just a string of length 1.

## Index Operator: Accessing Elements of a List or Tuple
The syntax for accessing the elements of a list or tuple is the same as the syntax for accessing the characters of a string. We use the index operator ( [] – not to be confused with an empty list). The expression inside the brackets specifies the index. Remember that the indices start at 0. Any integer expression can be used as an index and as with strings, negative index values will locate items from the right instead of from the left.

When we say the first, third or nth character of a sequence, we generally mean counting the usual way, starting with 1. The nth character and the character AT INDEX n are different then: The nth character is at index n-1. Make sure you are clear on what you mean!

Try to predict what will be printed out by the following code, and then run it to check your prediction. (Actually, it’s a good idea to always do that with the code examples. You will learn much more if you force yourself to make a prediction before you see the output.)

In [4]:
lis = ['subhajit', 'ranjit', 'dipesh']
lis[1]

'ranjit'

In [69]:
numbers = [17, 123, 87, 34, 66, 8398, 44]
print(numbers[2])
print(numbers[9-8])
print(numbers[-2])

87
123
8398

In [70]:
prices = (1.99, 2.00, 5.50, 20.95, 100.98)
print(prices[0])
print(prices[-1])
print(prices[3-5])

1.99
100.98
20.95

In [71]:
#What is printed by the following statements?
s = "python rocks"
print(s[3])

h

In [72]:
# Assign the value of the last chacter of lst to the variable output. Do this so that the length of lst doesn’t matter.
lst = "Every chess or checkers game begins from the same position and has a finite number of moves that can be played. While the number of possible scenarios and moves is quite large, it is still possible for computers to calculate that number and even be programmed to respond well against a human player..."
output=lst[-1]
print(output)

.

# Disabmiguating []: creation vs indexing
Square brackets [] are used in quite a few ways in python. When you’re first learning how to use them it may be confusing, but with practice and repetition they’ll be easy to incorporate!

You have currently encountered two instances where we have used square brakets. The first is creating lists and the second is indexing. At first glance, creating and indexing are difficult to distinguish. However, indexing requires referencing an already created list while simply creating a list does not.

In [8]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' : 
        count = count + 1
print(count)

3

In [9]:
a = [2, 5, 6, 9, 4]
c = 0
for i in a:
    c = c + 1
print(c)

5

In [74]:
new_lst = ["NFLX", "AMZN", "GOOGL", "DIS", "XOM"]
part_of_new_lst = new_lst[0]
print(part_of_new_lst)

NFLX

In [12]:
lst = [0]
n_lst = lst[0]

print(lst)
print(n_lst)

[0]
0

# Length
The len function, when applied to a string, returns the number of characters in a string.

In [13]:
fruit = "Banana"
print(len(fruit))

6

In [2]:
#To get the last letter of a string, you might be tempted to try something like this:
fruit = "Banana"
sz = len(fruit)
print(sz)
last = fruit[sz-1]       # ERROR!
print(last)

6
a

That won’t work. It causes the runtime error IndexError: string index out of range. The reason is that there is no letter at index position 6 in "Banana". Since we started counting at zero, the six indexes are numbered 0 to 5. To get the last character, we have to subtract 1 from the length. Give it a try in the example above.

In [79]:
round(8/3)

3

In [80]:
8//3

2

In [29]:
fruit = "grape"
midchar = fruit[len(fruit)//2]
midchar

'a'

In [81]:
#What is printed by the following statements?
alist = [3, 67, "cat", 3.14, False]
print(len(alist))

5

In [84]:
#Assign the number of elements in lst to the variable output.
lst = ["hi", "morning", "dog", "506", "caterpillar", "balloons", 106, "yo-yo", "python", "moon", "water", "sleepy", "daffy", 45, "donald", "whiteboard", "glasses", "markers", "couches", "butterfly", "100", "magazine", "door", "picture", "window", ["Olympics", "handle"], "chair", "pages", "readings", "burger", "juggle", "craft", ["store", "poster", "board"], "laptop", "computer", "plates", "hotdog", "salad", "backpack", "zipper", "ring", "watch", "finger", "bags", "boxes", "pods", "peas", "apples", "horse", "guinea pig", "bowl", "EECS"]
output = 0
for i in lst:
    output += 1
print(output)

52

In [85]:
len(lst)

52

# The Slice Operator
A substring of a string is called a slice. Selecting a slice is similar to selecting a character:

In [87]:
fruit = "banana"
fruit[0:5]

'banan'

In [1]:
singers = "Peter, Paul, and Mary"
print(singers[0:5])
print(singers[7:11])
print(singers[17:21])

Peter
Paul
Mary

The slice operator [n:m] returns the part of the string starting with the character at index n and go up to but not including the character at index m. Or with normal counting from 1, this is the (n+1)st character up to and including the mth character.

If you omit the first index (before the colon), the slice starts at the beginning of the string. If you omit the second index, the slice goes to the end of the string.

In [2]:
fruit = "banana"
print(fruit[:4])
print(fruit[3:])
print(fruit[:])

bana
ana
banana

# List Slices
The slice operation we saw with strings also work on lists. Remember that the first index is the starting point for the slice and the second number is one index past the end of the slice (up to but not including that element). Recall also that if you omit the first index (before the colon), the slice starts at the beginning of the sequence. If you omit the second index, the slice goes to the end of the sequence.

In [90]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
print(a_list[1:3])
print(a_list[:4])
print(a_list[3:])
print(a_list[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [95]:
lis = (8, 5, 6, 8)
lis[1]= 9
print(lis)

TypeError: 'tuple' object does not support item assignment

# Tuple Slices
We can’t modify the elements of a tuple, but we can make a variable reference a new tuple holding different information. Thankfully we can also use the slice operation on tuples as well as strings and lists. To construct the new tuple, we can slice parts of the old tuple and join up the bits to make the new tuple. So julia has a new recent film, and we might want to change her tuple. We can easily slice off the parts we want and concatenate them with the new tuple.

In [96]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(julia[2])
print(julia[2:6])

print(len(julia))

julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
print(julia)

1967
(1967, 'Duplicity', 2009, 'Actress')
7
('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlanta, Georgia')

Create a new list using the 9th through 12th elements (four items in all) of new_lst and assign it to the variable sub_lst.

In [25]:
new_lst = ["computer", "luxurious", "basket", "crime", 0, 2.49, "institution", "slice", "sun", ["water", "air", "fire", "earth"], "games", 2.7, "code", "java", ["birthday", "celebration", 1817, "party", "cake", 5], "rain", "thunderstorm", "top down"]
sub_lst = new_lst[8:12]
print(sub_lst)

['sun', ['water', 'air', 'fire', 'earth'], 'games', 2.7]

# Concatenation and Repetition
Again, as with strings, the + operator concatenates lists. Similarly, the * operator repeats the items in a list a given number of times.

In [26]:
fruit = ["apple","orange","banana","cherry"]
print([1,2] + [3,4])
print(fruit+[6,7,8,9])

print([0] * 4)

[1, 2, 3, 4]
['apple', 'orange', 'banana', 'cherry', 6, 7, 8, 9]
[0, 0, 0, 0]

It is important to see that these operators create new lists from the elements of the operand lists. If you concatenate a list with 2 items and a list with 4 items, you will get a new list with 6 items (not a list with two sublists). Similarly, repetition of a list of 2 items 4 times will give a list with 8 items.

One way for us to make this more clear is to run a part of this example in codelens. As you step through the code, you will see the variables being created and the lists that they refer to. Pay particular attention to the fact that when newlist is created by the statement newlist = fruit + numlist, it refers to a completely new list formed by making copies of the items from fruit and numlist. You can see this very clearly in the codelens object diagram. The objects are different.

In [27]:
# What is printed by the following statements?

alist = [1,3,5]
print(alist * 3)

[1, 3, 5, 1, 3, 5, 1, 3, 5]

# Count and Index
As you create more complex programs, you will find that some tasks are commonly done. Python has some built-in functions and methods to help you with these tasks. This page will cover two helpful methods for both strings and lists: count and index.

You’ve learned about methods before when drawing with the turtle module. There, you used .forward(50) and .color("purple") to complete actions. We refer to forward and color as methods of the turtle class. Objects like strings and lists also have methods that we can use.

# Count
The first method we’ll talk about is called count. It requires that you provide one argument, which is what you would like to count. The method then returns the number of times that the argument occured in the string/list the method was used on. There are some differences between count for strings and count for lists. When you use count on a string, the argument can only be a string. You can’t count how many times the integer 2 appears in a string, though you can count how many times the string “2” appears in a string. For lists, the argument is not restricted to just strings.

In [4]:
a = "I have had an apple on my desk before!"
print(a.count("e"))
print(a.count("ha"))

5
2

The activecode window above demonstrates the use of count on a string. Just like with the turtle module when we had to specify which turtle was changing color or moving, we have to specify which string we are using count on

In [5]:
z = ['atoms', 4, 'neutron', 6, 'proton', 4, 'electron', 4, 'electron', 'atoms']
print(z.count("4"))
print(z.count(4))
print(z.count("a"))
print(z.count("electron"))

0
3
0
2

In [100]:
type("4")

str

When you run the activecode window above, you’ll see how count with a list works. Notice how “4” has a count of zero but 4 has a count of three? This is because the list z only contains the integer 4. There are never any strings that are 4. Additionally, when we check the count of “a”, we see that the program returns zero. Though some of the words in the list contain the letter “a”, the program is looking for items in the list that are just the letter “a”.

# Index
The other method that can be helpful for both strings and lists is the index method. The index method requires one argument, and, like the count method, it takes only strings when index is used on strings, and any type when it is used on lists. For both strings and lists, index returns the leftmost index where the argument is found. If it is unable to find the argument in the string or list, then an error will occur.

In [7]:
music = "Pull out your music and dancing can begin"
bio = ["Metatarsal", "Metatarsal", "Fibula", [], "Tibia", "Tibia", 43, "Femur", "Occipital", "Metatarsal"]

print(music.index("m"))
print(music.index("your"))

print(bio.index("Metatarsal"))
print(bio.index([]))
print(bio.index(43))

14
9
0
3
6

All of the above examples work, but were you surprised by any of the return values? Remember that index will return the left most index of the argument. Even though “Metatarsal” occurs many times in bio, the method will only return the location of one of them.

Here’s another example.

In [8]:
seasons = ["winter", "spring", "summer", "fall"]
print(seasons.index("spring"))
#print(seasons.index("autumn"))  #Error!

1

In [9]:
#What will be stored in the variable ty below?

qu = "wow, welcome week!"
ty = qu.index("we")
ty

5

In [10]:
#What will be stored in the variable ty below?

qu = "wow, welcome week! Were you wanting to go?"
ty = qu.count("we")
ty

2

In [11]:
#What will be stored in the variable ht below?

rooms = ['bathroom', 'kitchen', 'living room', 'bedroom', 'closet', "foyer"]
#ht = rooms.index("garden")
ht = rooms.index("kitchen")
ht

1

# Splitting and Joining Strings
Two of the most useful methods on strings involve lists of strings. The split method breaks a string into a list of words. By default, any number of whitespace characters is considered a word boundary.

In [13]:
song = "The rain in Spain..."
wds = song.split()
print(wds)

['The', 'rain', 'in', 'Spain...']

In [16]:
sen = " ".join(wds)
sen

'The rain in Spain...'

The following example uses the string ai as the delimiter:

In [19]:
song = "The rain in Spain..."
wds = song.split('ai')
print(wds)

['The r', 'n in Sp', 'n...']

Notice that the delimiter doesn’t appear in the result.

The inverse of the split method is join. You choose a desired separator string, (often called the glue) and join the list with the glue between each of the elements.

In [20]:
wds = ["red", "blue", "green"]
glue = ';'
s = glue.join(wds)
print(s)
print(wds)

print("***".join(wds))
print("".join(wds))

red;blue;green
['red', 'blue', 'green']
red***blue***green
redbluegreen

In [21]:
line = "my name is dipesh"
lin = line.split()
print(lin)
past_line= "-".join(lin)
print(past_line)

['my', 'name', 'is', 'dipesh']
my-name-is-dipesh

In [79]:
data = 'From info@indiancybersecuritysolutions.com Sat Jan  5 09:14:16 2008'
start=data.find('@')
end=data.find(" ",start)
val=data[start+1:end]
print(val)
print(start)
print(end)

indiancybersecuritysolutions.com
9
42

### Introduction: Iteration
A basic building block of all programs is to be able to repeat some code over and over again. Whether it is updating the bank balances of millions of customers each night, or sending email messages to thousands of people programming involves instructing the computer to do many repetitive actions. In computing, we refer to this repetitive execution as iteration. In this section, we will explore some mechanisms for basic iteration.

With collections (lists and strings), a lot of computations involve processing one item at a time. For strings, this means that we would like to process one character at a time. Often we start at the beginning, select each character in turn, do something to it, and continue until the end. For example, we could take each character and substitute for the character 13 characters away in the alphabet to create a coded message.

This pattern of processing is called a traversal, or iteration over the characters. Similarly, we can process each of the items in a list, one at a time, iterating over the items in the list. This has applications in every piece of software you can imagine:

Displaying a list of friends on SnapChat

Updating the position of every character on the screen of a video game

Displaying the locations that Doctors Without Borders operates in

# The for Loop


Back when we drew the images with turtle it could be quite tedious. If we wanted to draw a square then we had to move then turn, move then turn, etc. etc. four times. If we were drawing a hexagon, or an octagon, or a polygon with 42 sides, it would have been a nightmare to duplicate all that code.

A basic building block of all programs is to be able to repeat some code over and over again. We refer to this repetitive idea as iteration. In this section, we will explore some mechanisms for basic iteration.

In Python, the for statement allows us to write programs that implement iteration. As a simple example, let’s say we have some friends, and we’d like to send them each an email inviting them to our party. We don’t quite know how to send email yet, so for the moment we’ll just print a message for each friend.

In [30]:
name = 'soujata'
for char in name:
    print(char)
print(name)

s
o
u
j
a
t
a
soujata

In [1]:
for name in ["Joe", "Amy", "Brad", "Angelina", "Zuki", "Thandi", "Paris"]:
    print("Hi", name, "Please come to my party on Saturday!")

Hi Joe Please come to my party on Saturday!
Hi Amy Please come to my party on Saturday!
Hi Brad Please come to my party on Saturday!
Hi Angelina Please come to my party on Saturday!
Hi Zuki Please come to my party on Saturday!
Hi Thandi Please come to my party on Saturday!
Hi Paris Please come to my party on Saturday!

# Strings and for loops
Since a string is simply a sequence of characters, the for loop iterates over each character automatically. (As always, try to predict what the output will be from this code before your run it.)

In [43]:
for achar in "Go Spot Go":
    print(achar)

G
o

S
p
o
t

G
o

In [118]:
#How many times is the word HELLO printed by the following statements?

s = "python rocks"
for ch in s:
    print(ch)
print("HELLO")

p
y
t
h
o
n

r
o
c
k
s
HELLO

In [120]:
#How many times is the word HELLO printed by the following statements?
s = "python rocks"
for ch in s[3:8]:
    print(ch)
print("HELLO")

h
o
n

r
HELLO

# Lists and for loops
It is also possible to perform list traversal using iteration by item. A list is a sequence of items, so the for loop iterates over each item in the list automatically.

In [121]:
fruits = ["apple", "orange", "banana", "cherry"]
for afruit in fruits:     # by item
    print(afruit)

apple
orange
banana
cherry

In [122]:
name = "dipesh"
for p in name:
    print(p, end = "")

dipesh

In [123]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [51]:
z = ['Joseph', 'Glenn', 'Sally']
for x in z:
    print('Happy New Year:',  x)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

### Looking Inside the Slide

In [52]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
print(friends[1])

Glenn

### Lists are Mutable
Strings are “immutable” - we cannot change the contents of a string - we must make a new string to make any change
Lists are “mutable” - we can change an element of a list using the index operator

In [53]:
fruit = 'Banana'
fruit[0] = 'b'

TypeError: 'str' object does not support item assignment

In [54]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends[0] = "Dipesh"
print(friends)

['Dipesh', 'Glenn', 'Sally']

In [31]:
fruit = 'BANANA'
x = fruit.lower()
print(x)

banana

In [34]:
fruit = 'Banana'
x = fruit.lower()
print(x)
lotto = [2, 14, 26, 41, 63]
print(lotto)
lotto[4] = 28
print(lotto)

banana
[2, 14, 26, 41, 63]
[2, 14, 26, 41, 28]

### How Long is a List?

The len() function takes a list as a parameter and returns the number of elements in the list
Actually len() tells us the number of elements of any set or sequence (such as a string...)

In [59]:
greet = 'Hello Bob'
print(len(greet))
x = [ 1, 2, 'joe', 99]
print(len(x))

9
4

### Using the range Function
The range function returns a list of numbers that range from zero to one less than the parameter
We can construct an index loop using for and an integer iterator

In [129]:
a = list(range(5, 21, 2))
print(a)

[5, 7, 9, 11, 13, 15, 17, 19]

In [39]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [40]:
for i in "dipesh":
    print(i)

d
i
p
e
s
h

In [41]:
friends = ['Joseph', 'Glenn', 'Sally']
for i in range(len(friends)):
    print(i)

0
1
2

### A Tale of Two Loops...

In [42]:
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))

3

In [6]:
for i in range(len(friends)):
    print(i)

0
1
2

In [7]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [70]:
for i in range(len(friends)) :
    #print(i)
    #friend = friends[i]
    print('Happy New Year:',  friends[i])

Happy New Year: ['Joseph', 'Glenn', 'Sally']
Happy New Year: ['Joseph', 'Glenn', 'Sally']
Happy New Year: ['Joseph', 'Glenn', 'Sally']

### Concatenating Lists Using +
We can create a new list by adding two existing lists together

In [43]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

### Lists Can Be Sliced Using :
Remember:  Just like in strings, the second number is “up to but not including”

In [44]:
t = [9, 41, 12, 3, 74, 15]
print(t[1:3])
print(t[:4])
print(t[3:])
print(t[:])

[41, 12]
[9, 41, 12, 3]
[3, 74, 15]
[9, 41, 12, 3, 74, 15]

## List Methods

In [45]:
x = list()
type(x)
#dir(x)

list

## Building a List from Scratch
We can create an empty list and then add elements using the append method

The list stays in order and new elements are added at the end of the list

In [48]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

['book', 99]
['book', 99, 'cookie']

## Is Something in a List?
Python provides two operators that let you check if an item is in a list

These are logical operators that return True or False

They do not modify the list

In [49]:
some = [1, 9, 21, 10, 16]
print(9 in some)
print(15 in some)
print(20 not in some)

True
False
True

## Lists are in Order
A list can hold many items and keeps those items in the order until we do something to change the order

A list can be sorted (i.e., change its order)

The sort method (unlike in strings) means “sort yourself”

In [1]:
lis = [4, 2, 6, 9, 8]
print(lis)
lis.sort()
print(lis)

[4, 2, 6, 9, 8]
[2, 4, 6, 8, 9]

In [3]:
lis = [4, 2, 6, 9, 8]
a = sorted(lis, reverse=True)
print(lis)
print(a)

[4, 2, 6, 9, 8]
[9, 8, 6, 4, 2]

In [9]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friends.sort()
print(friends)
print(friends[1])

['Glenn', 'Joseph', 'Sally']
Joseph

In [12]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
updated = sorted(friends, reverse=True)
print(friends)
print(updated)

['Joseph', 'Glenn', 'Sally']
['Sally', 'Joseph', 'Glenn']

In [47]:
friends = [ 'Joseph', 'Glenn', 'Sally' ]
friend = sorted(friends)
print(friend)
print(friends)
print(friend[1])

['Glenn', 'Joseph', 'Sally']
['Joseph', 'Glenn', 'Sally']
Joseph

### Built-in Functions and Lists
There are a number of functions built into Python that take lists as parameters

Remember the loops we built?  These are much simpler.

In [52]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

## Best Friends: Strings and Lists
Split breaks a string into parts and produces a list of strings.  We think of these as words.  We can access a particular word or loop through all the words.

In [53]:
abc = 'With three words'
stuff = abc.split()
print(stuff)
print(len(stuff))
print(stuff[0])

['With', 'three', 'words']
3
With

In [54]:
print(stuff)
for w in stuff :
    print(w)

['With', 'three', 'words']
With
three
words

In [55]:
lis = [4, 5, 6]
lis.append([5, 9])
print(lis)

[4, 5, 6, [5, 9]]

In [56]:
odd = [2, 5, 9, 42]
odd.extend([9, 11, 13])

print(odd)

[2, 5, 9, 42, 9, 11, 13]

In [57]:
odd = [2, 5, 9, 42]
a = [9, 11, 13]
c = odd + a
c

[2, 5, 9, 42, 9, 11, 13]

In [58]:
odd = [1, 9]
odd.insert(1,3)
odd

[1, 3, 9]

In [59]:
odd = [1,3, 9]
odd.insert(2,7)
odd

[1, 3, 7, 9]

In [61]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
# # delete one item
del my_list[2]
# my_list
# # delete multiple items
# del my_list[1:5]
my_list

['p', 'r', 'b', 'l', 'e', 'm']

In [63]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')
my_list

['r', 'o', 'b', 'l', 'e', 'm']

In [65]:
# Output: 'o'
print(my_list.pop(4))

e

In [19]:
# Output: 'm'
print(my_list.pop())

m

In [20]:
my_list.clear()
my_list

[]

It almost reads like natural language: For (every) fruit in (the list of) fruits, print (the name of the) fruit.

# Using the range Function to Generate a Sequence to Iterate Over
We are now in a position to understand the inner workings we glossed over previously when we first introduced repeated execution with a for loop. Here was the example:

In [6]:
print("This will execute first")

for _ in range(3):
    print("This line will execute three times")
    print("This line will also execute three times")

print("Now we are outside of the for loop!")

This will execute first
This line will execute three times
This line will also execute three times
This line will execute three times
This line will also execute three times
This line will execute three times
This line will also execute three times
Now we are outside of the for loop!

# The Accumulator Pattern
One common programming “pattern” is to traverse a sequence, accumulating a value as we go, such as the sum-so-far or the maximum-so-far. That way, at the end of the traversal we have accumulated a single value, such as the sum total of all the items or the largest item.

The anatomy of the accumulation pattern includes:
initializing an “accumulator” variable to an initial value (such as 0 if accumulating a sum)

iterating (e.g., traversing the items in a sequence)

updating the accumulator variable on each iteration (i.e., when processing each item in the sequence)

For example, consider the following code, which computes the sum of the numbers in a list.

In [2]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
accum_variable = 0
for i in nums:
    accum_variable = accum_variable + 1
print(accum_variable)

10

In [6]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = 0
for i in nums:
    total += i
print(total)

55

In [4]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0
for i in nums:
    count += 1 # count = count + 1
print(count)

55

In [22]:
count

55

In [11]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
accum = 0
for w in nums:
    accum = accum + w
print(accum)

55

In [5]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
accum = 0
for w in nums:
    #print(w)
    if w % 2 == 0:
        #print(w)
        accum = accum + w
        #print(accum)
print(accum)

2
6
12
20
30
30

One important thing to know about the range function in python3 is that if we want to use it outside of iteration, we have to cast it as a list using list(). Inside the textbook you’ll notice that range works with or without casting it as a list but it is best for you to try and get into the habit of casting it as a list. Here’s how you could use the range function in the previous problem.

In [153]:
accum = 0
for w in range(11):
    accum = accum + w
print(accum)

# or, if you use two inputs for the range function

sec_accum = 0
for w in range(1,11):
    sec_accum = sec_accum + w
print(sec_accum)

55
55

#### Write code to create a list of integers from 0 through 52 and assign that list to the variable numbers. You should use a special Python function – do not type out the whole list yourself. HINT: You can do this in one line of code!

In [6]:
import random
>>> random.randint(0,52)

14

#### Count the number of characters in string str1. Do not use len(). Save the number in variable numbs.

In [ ]:
str1 = "I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living."

#### Create a list of numbers 0 through 40 and assign this list to the variable numbers. Then, accumulate the total of the list’s values and assign that sum to the variable sum1.

In [17]:
xx = list(range(0, 40))  
print(x)
Sum = sum(xx) 
print(Sum)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
780

### HomeWork

#### Write one for loop to print out each character of the string my_str on a separate line.

In [ ]:
my_str = "Indian Cyber Security"

#### Write code that uses iteration to print out the length of each element of the list stored in str_list.

In [2]:
str_list = ["hello", "", "goodbye", "wonderful", "I love Python"]
for i in str_list:
    print(len(i))

5
0
7
9
13

##### Write code to create a list of word lengths for the words in original_str using the accumulation pattern and assign the answer to a variable num_words_list. (You should use the len function).

In [7]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"
ls = []
original_lis= original_str.split()
for i in original_lis:
    print(len(i))    
    ls.append(len(i))
print(ls)

3
5
5
5
6
4
3
9
4
3
[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

In [4]:
original_lis

['The',
 'quick',
 'brown',
 'rhino',
 'jumped',
 'over',
 'the',
 'extremely',
 'lazy',
 'fox']

In [3]:
N, M = map(int, input().split())
for i in range(1,N,2): 
    print (('.|.'*i).center(M,'-'))
print ("WELCOME".center(M,'-'))
for i in range(N-2,-1,-2): 
    print (('.|.'*i).center(M,'-'))

3 7
--.|.--
WELCOME
--.|.--

In [83]:
file = open('mbox-short.txt')
for line in file:
    if line.startswith('From '):
        print(line.strip())

From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
From louis@media.berkeley.edu Fri Jan  4 18:10:48 2008
From zqian@umich.edu Fri Jan  4 16:10:39 2008
From rjlowe@iupui.edu Fri Jan  4 15:46:24 2008
From zqian@umich.edu Fri Jan  4 15:03:18 2008
From rjlowe@iupui.edu Fri Jan  4 14:50:18 2008
From cwen@iupui.edu Fri Jan  4 11:37:30 2008
From cwen@iupui.edu Fri Jan  4 11:35:08 2008
From gsilver@umich.edu Fri Jan  4 11:12:37 2008
From gsilver@umich.edu Fri Jan  4 11:11:52 2008
From zqian@umich.edu Fri Jan  4 11:11:03 2008
From gsilver@umich.edu Fri Jan  4 11:10:22 2008
From wagnermr@iupui.edu Fri Jan  4 10:38:42 2008
From zqian@umich.edu Fri Jan  4 10:17:43 2008
From antranig@caret.cam.ac.uk Fri Jan  4 10:04:14 2008
From gopal.ramasammycook@gmail.com Fri Jan  4 09:05:31 2008
From david.horwitz@uct.ac.za Fri Jan  4 07:02:32 2008
From david.horwitz@uct.ac.za Fri Jan  4 06:08:27 2008
From david.horwitz@uct.ac.za Fri Jan  4 04:49:08 2008
From david.horwitz@uct.ac.za Fri Jan  4 04:33:44 2008
From stephen.marquard@uct.ac.za Fri Jan  4 04:07:34 2008
From louis@media.berkeley.edu Thu Jan  3 19:51:21 2008
From louis@media.berkeley.edu Thu Jan  3 17:18:23 2008
From ray@media.berkeley.edu Thu Jan  3 17:07:00 2008
From cwen@iupui.edu Thu Jan  3 16:34:40 2008
From cwen@iupui.edu Thu Jan  3 16:29:07 2008
From cwen@iupui.edu Thu Jan  3 16:23:48 2008

In [ ]:
filename = input('mbox-short.txt: ')
try:
    filename = open('mbox-short.txt')
except:
    print('File cannot be opened: ', mbox-short.txt)
exit()
import re
for line in filename:
    line = line.rstrip()
    x = re.findall('\S+@gmail.com' ,  line)
    if len(x) > 0:
        print(x)
    y = re.findall('\S+@uct.ac.za',  line)
    if len(y) > 0:
        print(y)

In [2]:
fruit = 'banana'
for char in fruit:
    print(char)
print('done')

IndentationError: expected an indented block (<ipython-input-2-caa214ef59d0>, line 3)

#sting data type

In [1]:
str3='123'
str3=str3+1

TypeError: can only concatenate str (not "int") to str

In [2]:
x=int(str3)+1
print(x)

124

# Reading and conversion

In [5]:
name=input('Enter:')

Enter:roman

In [7]:
apple=input('Enter:')

Enter:100

In [4]:
x=apple-10

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
x=int(apple)-10
print(x)

# Looking inside String

In [13]:
fruit='banana'

In [16]:
letter=fruit[2]
print(letter)

n

In [17]:
x=3

In [18]:
w=fruit[x-1]
print(w)

n

# A Character Too Far

In [20]:
zot='abc'
print(zot[5])

IndexError: string index out of range

# String Have Length

In [21]:
fruit='banana'
print(len(fruit))

6

# For Loop

In [22]:
fruit='banana'
for x in fruit:
    print(x)

b
a
n
a
n
a

In [24]:
fruit='banana'
for x in fruit:
    print(x)
    print('Done')

b
Done
a
Done
n
Done
a
Done
n
Done
a
Done

In [25]:
fruit='banana'
for x in fruit:
    print(x)
print('done')

b
a
n
a
n
a
done

# Slicing Strings

In [26]:
s='Monty python'
print(s[0:4])

Mont

In [27]:
print(s[6:7])

p

In [28]:
print(s[6:20])

python

In [29]:
s='Monty python'
print(s[:2])

Mo

In [30]:
print(s[8:])

thon

In [31]:
print(s[:])

Monty python

# String Concatenation(when the + operator is applied string it mean Concatenation)

In [32]:
a='Hello'

In [44]:
b=a+'there'

In [45]:
print(b)

Hellothere

In [46]:
c=a+' '+'there'
print(c)

Hello there

# String Library

In [47]:
greet='Hello Bob'

In [48]:
zap = greet.lower()

In [49]:
print(zap)

hello bob

In [51]:
print(greet)

Hello Bob

In [52]:
zap = greet.upper()
zap

'HELLO BOB'

# Seaching a string( if substring not found,find()return-1)

# fruit='banana'

In [54]:
pos=fruit.find('na')
print(pos)

2

In [55]:
aa=fruit.find('z')
print(aa)

-1

In [56]:
bb=fruit.find('n',3)
print(bb)

4

# Search and Replace

In [57]:
greet= 'Hellow Bob'
nstr= greet.replace('Bob','jane')
print(nstr)

Hellow jane

In [58]:
nstr= greet.replace('o','x')
print(nstr)

Hellxw Bxb

# Stripping Whitespace

In [59]:
greeet='  Hellow Bob  '
greet.lstrip()

'Hellow Bob'

In [60]:
greet.rstrip()

'Hellow Bob'

In [61]:
greet.strip()

'Hellow Bob'

# Prefixes

In [67]:
line= 'Please have a nice day'
line.startswith('Please')

True

In [68]:
line.startswith('p')

False